{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
    <form class="form-horizontal pr-30" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
    <hr>
    <a href="{% url 'auth:register' %}" class="btn btn-link">Регистрация</a><br>
    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/" class="btn btn-link">Войти через VK</a>

{% endblock %}