{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_main_menu.html' %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links clearfix">
            {% include 'mainapp/includes/inc_links_menu.html' %}
        </div>

        <div class="products_list">
            <div class="title clearfix">
                <h2>
                    Категория: "{{ category.name|title }}"
                </h2>
            </div>
            <div class="category-products clearfix">

                {% for product in page_obj %}
                    <div class="block">
                        <a href="{% url 'products:product' product.pk %}">
                            <img src="/media{{ product.image }}" alt="product">
                            <div class="text">
                                <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.description|truncatechars:170 }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>

{#                            {% if page_obj.has_previous %}#}
{#                                <a href="?page={{ page_obj.previous_page_number }}"> << </a>#}
{#                            {% endif %}#}
{##}
{#                            <span class="current paginator pagination-lg">#}
{#                                 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}#}
{#                            </span>#}
{##}
{#                            {% if page_obj.has_next %}#}
{#                                <a href="?page={{ page_obj.next_page_number }}"> >> </a>#}
{#                            {% endif %}#}
            {% if page_obj.has_other_pages %}
            <nav aria-label="page_navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.number|add:-1 }}</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.number|add:1 }}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>

{% endblock %}